.container {
  margin: 0px auto 0px auto;
  text-align: center;
  display: flex;
  width: 500px;
  font-family: Verdana, sans-serif;
  flex-direction: column;
}

.container .heading {
  text-align: center;
  margin: 30px auto 10px auto;
}

.container .form {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0px auto;
  width: 300px;
}

.container .form .field {
  padding: 0px 5px 0px 5px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.container .report {
  margin: 50px auto 0px auto;
  width: 100%;
}

.container .report > table {
  width: 100%;
}

.container .report td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

.container .report td.header {
  font-weight: bold;
}

.container .error {
  margin: 20px auto 0px auto;
  color: red;
}

.loading {
  margin: 100px auto 0px auto;
	animation: fadeIn 0.5s infinite alternate;
	opacity: 0;
}

@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}